/*
 * Styles shared by all views
 */
 body {
    overflow: hidden;
}
.modal {
    overflow: hidden;
}

/*
 * Styles for the deck-list view
 */
 div#deck-list-view {
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 5px;
}
/* Navbar with searchbox and back button */
 div#deck-list-view a.navbar-brand {
    height: 60px;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
}
span.search-container {
    display: block; 
    overflow: hidden; 
    padding: 0 10px 0 0;
}
input.search {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 48px;
    margin: 5px 0px;
    font-size: 20px;
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
}
button#search-back-btn {
    position: fixed;
    z-index: 1;
    top: 5px;
    right: 10px;
    padding: 12px 14px;
}
/* Content shown when not searching for decks. */
div#main-content {
    position: relative;
    top: 60px;
    transition: top 1s;
    -webkit-transition: top 1s;
}
div#main-content h1 {
    color: rgb(156, 156, 156);
    margin: 5px 0 8px 0;
}
/* List of Decks Owned by User */
div#deck-list {
    width: 100%;
    height: 395px;
    overflow-y: auto;
    border: solid #A3A3A3 1px;
    background-color: white;
    padding: 5px;
    margin: 0 0 5px 0;
    transition: top 1s;
    -webkit-transition: top 1s; /* Safari */  
    
}
div#deck-list h3#created {
    margin-top: 0px;
    margin-bottom: 5px;
}
div#deck-list h3#downloaded {
    margin-top: 15px;
    margin-bottom: 5px;
}
/* New Note Button */
button#new-note {
    position: relative;
}
/* Search Results */
#search-results {
    position: relative;
    top: 60px;
    width: 100%;
    height: 515px;
    padding: 5px;
    margin: 0px;
    overflow: hidden;
    display: none;
}
#search-results .list-group-item {
    font-size: 18px;
}
#search-results .list-group-item .icon {
    float: right;
}
#search-results .list-group-item.owned {
    background-color: #B9B9B9;
    cursor: not-allowed;
}
#search-results .list-group-item.download {
    cursor: pointer;
}
#search-results .list-group-item.download span.icon {
    width: 30px;
    height: 30px;
    background-image: url('../img/download-icon.png');
    background-size: 30px 30px;
}