/*
 * Styles shared by all views
 */
 body {
    overflow: hidden;
}
.modal {
    overflow: hidden;
}

/*
 * Styles for the deck-list view
 */
div#deck-list-view {
    z-index: 1;
    width: 100%;          /* Nexus 4 Width: 384px; */
    height: 100%;         /* Nexus 4 Height: 592px; */
    padding: 5px;
}
 div#deck-list-view .navbar-brand {
    padding-left: 8px;
}
div#main-content {
    z-index: 2;
    position: relative;
    top: 50px;
    transition: top 1s;
    -webkit-transition: top 1s;
}
div#deck-list {
    width: 100%;
    margin-bottom: 5px;
}
#deck-list-header {
    margin-top: 0px;
    margin-bottom: 5px;
}
div#deck-list-content {
    height: 425px;
    overflow-y: auto;
    background-color: white;
    border: solid #A3A3A3 1px;
    padding: 5px;
    transition: top 1s;
    -webkit-transition: top 1s; /* Safari */  
}
div#deck-list-content h3#created {
    margin-top: 0px;
    margin-bottom: 5px;
}
div#deck-list-content h3#downloaded {
    margin-top: 15px;
    margin-bottom: 5px;
}
input#deck-search {
    z-index: 2;
    position: fixed;
    left: 100px;
    top: 5px;
    width: 315px;
    height: 40px;
    padding-left: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
}
button#new-note {
    position: relative;
}
button#deck-search-back {
    position: absolute;
    top: 6px;
    right: 6px;
}
#search-results {
    position: relative;
    top: 55px;
    width: 100%;
    height: 482px;
    padding: 5px;
    overflow: hidden;
    display: none;
}
#search-results .list-group-item {
    font-size: 18px;
}
#search-results .list-group-item .icon {
    float: right;
}
#search-results .list-group-item.owned {
    background-color: #B9B9B9;
    cursor: not-allowed;
}
#search-results .list-group-item.download {
    cursor: pointer;
}
#search-results .list-group-item.download span.icon {
    width: 30px;
    height: 30px;
    background-image: url('../img/download-icon.png');
    background-size: 30px 30px;
}
