<div class="newNotecard">

	<!--p>Front
	<input type="text" name="front">
	<p>Back
	<input type="text" name="back"><br-->
	
    <button onclick="capturePhoto()">Camera</button>
    
	<div class="bs-example">
	  	<div class="btn-group btn-group-justified">
	    	<a href="#" class="btn btn-default">Cancel</a>
		    <a href="#/save" class="btn btn-default">Save</a>
		</div>
	</div>
    
    <script>
        function capturePhoto() {
              // Take picture using device camera and retrieve image as base64-encoded string
              navigator.camera.getPicture(onPhotoDataSuccess, onFail, { quality: 50,
                destinationType: destinationType.DATA_URL });
            }

            // Called when a photo is successfully retrieved
            //
            function onPhotoDataSuccess(imageData) {
              // Uncomment to view the base64-encoded image data
              // console.log(imageData);

              // Get image handle
              //
              var smallImage = document.getElementById('smallImage');

              // Unhide image elements
              //
              smallImage.style.display = 'block';

              // Show the captured photo
              // The inline CSS rules are used to resize the image
              //
              smallImage.src = "data:image/jpeg;base64," + imageData;
            }


            // Called if something bad happens.
            //
            function onFail(message) {
              alert('Failed because: ' + message);
            }
    </script>
    
</div>