<!--<button id="hideBtn">Toggle Blur</button>
<button id="clearBtn">Clear</button>-->
<div id="blurHTML">
	<div id="slide"
		 style="position:absolute;
	    		height:{{height}};
	    		width:{{width}};">
	     <img ng-src="{{card}}" style="position:absolute; height:{{height}}; width:{{width}};"/>
	     
	     <div 
	     	id="hider" 
	     	style="position:absolute; height:{{height}}; width:{{width}};">
	    	<canvas 
	    		id="blur" 
	    		height={{height}}
	    		width={{width}}
	    		style="position:absolute; height:{{height}}; width:{{width}};">
	    	</canvas>
		</div>
	</div>
</div>