<div class="newNotecard">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>-->
			<h3>
				<a href="#"><button class="btn btn-mini pull-left">Home</button></a>
				New Note
			</h3>
        </div>
      </div>
    </div>
	<div class="page-header">

	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-3">
				<img src="img/undo_icon.png" style="width: 90px;" onclick="clickUndo()" />
			</div>
			<div class="col-xs-3">
				<img src="img/redo_icon.png" style="width: 90px;" onclick="clickRedo()" />
			</div>
			<div class="col-xs-3">
				<a href="#/blur"><img src="img/blur_icon.png" style="width: 90px;"/></a>
			</div>
		</div>
	</div>
	
    <img ng-src="{{photo}}" style="border: 1px solid gray;width:70%;margin-left:5%;height:70%" alt=""></img>

 <!-- New Deck Modal -->
    <div class="modal fade" id="newDeckModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myNewDeckModalLabel">Create New Deck</h4>
          </div>
          <div class="modal-body row">

              <form class="form-horizontal">
                <fieldset>
                  <div class="form-group">
                    <div class="col-lg-6">
                        <input ng-model="newDeckName" type="text" class="form-control" id="newDeckInput" placeholder="My New Deck">
                    </div>
                  </div>
                </fieldset>
              </form>
 
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" data-target="#newDeckModal">Cancel</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" data-target="#newDeckModal" ng-click="save(deck)">Save</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Save Card Modal -->
    <div class="modal fade" id="saveModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Save to Deck</h4>
          </div>
          <div class="modal-body row">

              <form class="form-horizontal">
                <fieldset>
                  <div class="form-group">
                    <div class="col-lg-6">
                      <h3>Choose Existing Deck</h3>
                        <select ng-model="deck" ng-options="deck.id as deck.name for deck in decks" class="form-control" id="select">
                        </select>
                        <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#newDeckModal" ng-click="create(newDeckName)" data-backdrop="false"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>

                  </div>
                </fieldset>
              </form>
 
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save(deck)">Save</button>
          </div>
        </div>
      </div>
    </div>




	<div class="navbar navbar-fixed-bottom" role="navigation">
	  	<div class="btn-group btn-group-justified">
	    	<a type="button" href="#" class="btn btn-default btn-lg">Cancel</a>
            <a class="btn btn-default btn-lg" data-toggle="modal" data-backdrop="false" data-target="#saveModal">Save</a>
		  </div>
    </div>
  </div>
    
</div>