<div class="newNotecard">
    <div class="navbar navbar-inverse navbar-fixed-top" style="float: none" role="navigation">
        <ul class="nav navbar-nav">
            <li>
                <a href="#">
                    <img src="img/icons/back.svg" style="width: 30px;" />

                </a>
            </li>
            <li>
                <a href="">
                    <img src="img/icons/undo.svg" style="width: 30px;" ng-click="clickUndo()" />
                </a>
            </li>
            <li>
                <a href="">
                    <img src="img/icons/redo.svg" style="width: 30px;" ng-click="clickRedo()" />
                </a>
            </li>
        </ul>
    </div>

    
    <div class="container" style="height:{{height}}; width:{{width}}; margin-left: auto; margin-right: auto; padding-left: 0; padding-right: 0">
        <div id="blurHTML" style="height:{{height}}; width:{{width}}; margin-left: auto; margin-right: auto;">
            <div id="slide" style="height:{{height}}; width:{{width}}; margin-left: auto; margin-right: auto;">
                <img ng-src="{{photo}}" style="position:absolute; height:{{height}}; width:{{width}};" />
                <div id="hider" style="position:absolute; height:{{height}}; width:{{width}};">
                    <canvas id="blur" height={{height}} width={{width}} style="position:absolute; height:{{height}}; width:{{width}};">
                    </canvas>
                </div>
            </div>
        </div>
    </div>

	</div>

    <!-- Choose Deck Modal -->
    <div class="modal fade" id="chooseDeckModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Save to Deck</h4>
          </div>
          <div class="modal-body">

          <form class="form-horizontal">
                <fieldset>
                  <div class="form-group">
                    <div class="col-lg-6">
                        
                        <div class="radio" ng-repeat="item in options">
                            <label>
                                <input type="radio" name="radioGroup" ng-model="$parent.existing" value="{{item.value}}">
                                {{item.label}}
                            </label>
                        </div>
                        
                        <br>
                        
                        <input ng-model="newDeckName" ng-hide="existing" type="text" class="form-control" id="newDeckInput" placeholder="New Deck Name">
                    
                        <select ng-model="deck" ng-show="existing" ng-options="deck.name for deck in decks | filter: { 'owned': 'true', 'created': 'true', 'deleted' : 'false' }" class="form-control"></select>
                        
                    </div>
                  </div>
                </fieldset>
              </form>
 
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#confirmationModal" data-backdrop="false" ng-click="createCard()">Confirm</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Confirmation Modal -->
    <div class="modal fade" id="confirmationModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Success</h4>
          </div>
          <div class="modal-body">
            Note added.  Do you want to add another to this deck?
          </div>
          <div class="modal-footer">
              <a type="button" href="#" class="btn btn-default">No</a>
              <a type="button" href="#/chooseImage" class="btn btn-primary" data-target="#newNoteModal">Yes</a>
          </div>
        </div>
      </div>
    </div>

	<div class="navbar navbar-fixed-bottom" role="navigation">
	  	<div class="btn-group btn-group-justified">
	    	<a type="button" href="#" class="btn btn-default btn-lg">Cancel</a>
            <a class="btn btn-default btn-lg" data-toggle="modal" data-backdrop="false" data-target="#chooseDeckModal">Save</a>
		  </div>
    </div>
  </div>
    
</div>