<div class="newNotecard">
    <div class="navbar navbar-inverse navbar-fixed-top" style="float: none" role="navigation">
        <ul class="nav navbar-nav">
            <li>
                <a href="#">
                    <img src="img/icons/back.svg" style="width: 30px;" />

                </a>
            </li>
            <li>
                <a href="">
                    <img src="img/icons/undo.svg" style="width: 30px;" ng-click="clickUndo()" />
                </a>
            </li>
            <li>
                <a href="">
                    <img src="img/icons/redo.svg" style="width: 30px;" ng-click="clickRedo()" />
                </a>
            </li>
            <li>
                <a href="">
                    <img src="img/icons/camera.svg" style="width: 30px;" data-toggle="modal" data-target="#cameraModal" />
                </a>
            </li>
        </ul>
    </div>
    <div class="page-header">

    </div>
    <!--p>Front
  <input type="text" name="front">
  <p>Back
  <input type="text" name="back"><br-->
    <div class="container" style="height:{{height}}; width:{{width}}; margin-left: auto; margin-right: auto; padding-left: 0; padding-right: 0">
        <!--<button style="background: url(img/redo_icon.png) no-repeat;" onclick=""/>
    <button style="background: url(img/blur_icon.png) no-repeat;" ng-click="clickBlur()"/>
    <button style="background: url(img/camera_icon.png) no-repeat;" ng-click="clickCamera()"/>-->
        <div id="blurHTML" style="height:{{height}}; width:{{width}}; margin-left: auto; margin-right: auto;">
            <div id="slide" style="height:{{height}}; width:{{width}}; margin-left: auto; margin-right: auto;">
                <img ng-src="{{card}}" style="position:absolute; height:{{height}}; width:{{width}};" />
                <div id="hider" style="position:absolute; height:{{height}}; width:{{width}};">
                    <canvas id="blur" height={{height}} width={{width}} style="position:absolute; height:{{height}}; width:{{width}};">
                    </canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-fixed-bottom navbar-inverse" role="navigation">
        <ul class="nav navbar-nav">
            <li>
                <a href="#">
                    <img src="img/icons/home.svg" style="width: 30px;" />
                </a>
            </li>
            <li>
                <a href=""><img style="width: 30px;" /></a>
            </li>
            <li>
                <a href=""><img style="width: 30px;" /></a>
            </li>
            <li>
                <a href="">
                    <img src="img/icons/checkmark.svg" style="width: 30px;" ng-click="save()" />
                </a>
            </li>
        </ul>
        <!--
            <a href="#" class="btn btn-default btn-lg btn-block">Cancel</a>
            <a href="#" ng-click="save()" class="btn btn-default btn-lg btn-block">Save</a>
            -->
    </div>

    <!-- Modal -->
    <div class="modal fade" id="cameraModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Add A Photo</h4>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-primary">Add Existing</button>
                    <button type="button" class="btn btn-primary" ng-click="capturePhoto()">Take New</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

</div>