<div id="deck-list-view">

	<!-- Searchbox -->
    <input id="deck-search" type="search" placeholder="Search online for decks" ng-model="searchText"></input>

    <!-- Search back button. Hidden behind searchbox when not in search mode. -->
    <button id="deck-search-back" class="btn btn-primary">back</button>

    <!-- Search results list -->
	<div id="search-results" class="list-group">
		<div ng-repeat="deck in decks | nonBlankFilter:searchText">
			<div ng-show="!deck.owned" class="list-group-item download" ng-click="download(deck)">
        		<span class="deck-name">{{ deck.name }}</span>
        		<span class="icon">+</span>
			</div>
			<div ng-show="deck.owned" class="list-group-item owned">
        		<span class="deck-name">{{ deck.name }}</span>
        		<span class="icon">Owned</span>
			</div>
		</div>                     
    </div>

    <!-- Content shown when not searching for decks -->
    <div id="main-content">
		<!-- List of decks owned by user -->
	    <div id="deck-list">
		    <h1 id="deck-list-header">My Decks</h1>
		    <div id="deck-list-content">
				<div class="list-group">
					<!-- Decks created by user -->
					<h3 id="created">Created</h3>
					<div ng-repeat="deck in decks  | filter: { 'owned': 'true', 'created': 'true', 'deleted' : 'false' } | orderBy:'name'">
						<a href="#/{{ deck.id }}/study" class="list-group-item">
							<h4 class="list-group-item-heading">{{ deck.name }}</h4>
						</a>
					</div>
					<!-- Decks downloaded by user -->
					<h3 id="downloaded">Downloaded</h3>
					<div ng-repeat="deck in decks  | filter: { 'owned': 'true', 'created': 'false', 'deleted' : 'false' } | orderBy:'name'">
						<a href="#/{{ deck.id }}/study" class="list-group-item">
							<h4 class="list-group-item-heading">{{ deck.name }}</h4>
						</a>
					</div>
				</div>
			</div>
		</div>

		<!-- New Note Button -->
	    <button id="new-note" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-backdrop="true" data-target="#newNoteModal">New Note</button>
	    </div>
	</div>

	<!-- Modal dialog that shows download progress -->
	<div id="download-progress-modal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<h3 id="title">Downloading Deck...</h3>
					<h4 id="deck-name"></h4>
					<div id="download-progress-box">
		        		<div class="progress">
							<div class="progress-bar progress-bar-success"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal dialog for notecard creation -->
	<div id="newNoteModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Choose A Photo</h4>
				</div>
				<div class="modal-body">
					<p>Choose an photo to use as the base of your new flashcard.</p>
					<button type="button" class="btn btn-primary" ng-click="capturePhoto()">Take New Photo</button>
					<br>
					<br>
					<span ng-repeat="photo in photos">
						<a href="#/create/{{photo}}">
							<img ng-src="{{photo}}" style="width:20%;height:20%;margin:1%" alt=""></img>                
						</a>
					</span>
				</div>
			</div>
		</div>
	</div>

</div>

