<div class="deck-list">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>-->
          <a class="navbar-brand" href="#">SnapNote</a>
        </div>
      </div>
    </div>
	<div class="page-header">

	</div>
    <div class="container">
		<!--<div class="row">
			&nbsp;<br/>
			<br/>
			<br/>
		</div>-->
		<div class="row">
			<input type="text" class="form-control" id="search" placeholder="Search online for decks">
		</div>
		<div class="row">
			<h1>
				My Decks
			</h1>
		</div>
		<div class="row">

		</div>
	</div>
	<div class="list-group">
		<div ng-repeat="deck in decks | orderBy:'name'">
			<a href="#/{{ deck.id }}/study" class="list-group-item"><h4 class="list-group-item-heading">{{ deck.name }}</h4></a>
		</div>
	</div>

    <!-- Modal -->
    <div class="modal fade" id="newNoteModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Choose A Photo</h4>
          </div>
          <div class="modal-body">
            <p>Choose an photo to use as the base of your new flashcard.</p>
            <button type="button" class="btn btn-primary" ng-click="capturePhoto()">Take New Photo</button>
            <br>
            <br>
            <a href="#/create">
                <p data-dismiss="modal"></p>
                <img src="/img/demoslides/whiteboard1.png" style="width:20%;height:20%" alt=""></img>
            </a>
             <a href="#/create">
                <img src="/img/demoslides/whiteboard2.png" style="width:20%;height:20%" alt=""></img>
            </a> 
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
	
	<div class="navbar navbar-fixed-bottom" role="navigation">
        <button class="btn btn-default btn-lg btn-block" data-toggle="modal" data-backdrop="false" data-target="#newNoteModal">New Note</button>
		<!--a href="#/create" type="button" class="btn btn-default btn-lg btn-block">New Note</a-->
    </div>
</div>
