<div>
    <ul class="dayButton">
        <li><a id='sunday' ng-click="toggleclass('sunday')" style="width: 60px">S</a>
        </li>
        <li><a id='monday' ng-click="toggleclass('monday')" style="width: 60px">M</a>
        </li>
        <li><a id='tuesday' ng-click="toggleclass('tuesday')" style="width: 60px">T</a>
        </li>
        <li><a id='wednesday' ng-click="toggleclass('wednesday')" style="width: 60px">W</a>
        </li>
        <li><a id='thursday' ng-click="toggleclass('thursday')" style="width: 60px">T</a>
        </li>
        <li><a id='friday' ng-click="toggleclass('friday')" style="width: 60px">F</a>
        </li>
        <li><a id='saturday' ng-click="toggleclass('saturday')" style="width: 60px">S</a>
        </li>
    </ul>
</div>