<div class="study">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>-->
			<a href="#"><button class="btn btn-mini pull-left">Home</button></a>
			<h3>Study: {{ deck.name }}</h3>
        </div>
      </div>
    </div>
	<div class="page-header">

	</div>
    <div class="container" ng-click="flipCard($event)">

	<!-- src here will become the card's front -->
	<img  id="note" 
        style="border: 1px solid gray;width:90%;margin-left:5%;height:80%" 
        ng-src="{{card}}" 
        ng-mousedown="start($event)" 
        ng-mouseup="end($event)" 
        alt="">
	</img>
	
	<div>Tap on the right side of the screen to flip the note.</div>
	
	<button ng-click="nextCard()">Next Card</button>
	</div>

</div>



<!--<div style="background: url()"><div style="float:left:margin-left: 250px">"-->
