<div class="study" ng-init="showTutorial()">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>-->
			<a href="#"><button class="btn btn-mini pull-left">Home</button></a>
			<h3>Study: {{ deck.name }}</h3>
        </div>
      </div>
    </div>
	<div class="page-header">

	</div>
    <div class="container" >

	<!-- src here will become the card's front -->
	<img  id="note" 
        style="border: 1px solid gray;width:90%;margin-left:5%;height:80%" 
        ng-src="{{card}}" 
		ng-click="flipCard($event)"
        ng-mousedown="start($event)" 
        ng-mouseup="end($event)" 
        alt="">
	</img>
	
	<div>Tap on the right side of the screen to flip the note.</div>

    <!-- Modal dialog for deck options -->
    <div class="modal fade" id="optionsModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">{{ deck.name }} Options</h4>
          </div>
          <div class="modal-body">
            <button type="button" class="btn btn-primary" ng-click="addReminder()">Add Reminder</button>
            <button type="button" class="btn btn-primary" ng-click="deleteDeck()">Delete Deck</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->	
	
	<div class="study-options">
	  	<div class="btn-group btn-group-justified">
			<a class="btn btn-default btn-block" ng-click="previousCard()">Previous Note</a>
			<a class="btn btn-default btn-block" data-toggle="modal" data-backdrop="false" data-target="#optionsModal">Options</a>
			<a id="nextNote" class="btn btn-default btn-block" ng-click="nextCard()">Next Note</a>
		</div>
	</div>	
	
	</div>	

    <!-- Modal dialog for study tutorial -->
    <div class="modal fade" id="studyModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" ng-click="tutorialClose()" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="studyModalLabel">Study Tutorial</h4>
          </div>
		  <div class="modal-body">
			<h4 class="studyBodyLabel">Tap the right side of the screen to reveal any blurred sections.</h4>
			<img  id="studyTutorialImg" 
				style="border: 1px solid gray;width:90%;margin-left:5%;height:80%" 
				ng-src="img/study-tutorial-tap.png" 
				alt="">
			</img>
		  </div>
          <div class="modal-footer">
            <button type="button" id="nextStudyTutorialBtn" class="btn btn-primary pull-left" ng-click="nextStudyTutorial()">Next</button>
            <input type="checkbox" id="studyTutorialCheck"> Do not display again</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->	

</div>



<!--<div style="background: url()"><div style="float:left:margin-left: 250px">"-->
